/* GENERAL STYLES */
html {
  font-size: 10px;  
}

body {
  background: #000;
  color: white;
  display: flex;
  flex:1;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  min-height: 100vh;
  margin: 0;
  width: 100%;
}
.controls {
  margin-bottom: 50px;
}
input {
  width:100px;
}

.main-panel{
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

.main-panel div:first-child{
  text-align: left;
}
/*-----------------------------------------
             CSS VARIABLES 
-------------------------------------------*/

/* defining the variables on the root */
:root{
  --base: #ffc600;
  --spacing: 10px;
  --blur: 0px;
}

img{
  height: 400px;
  margin:0 auto;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl{
  color: var(--base);
}